<div class="landing-container d-flex justify-content-between" style="z-index:2">
  <div class="firstone" style="max-width: 50%">
    <p class="highlight-quote">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua"
    </p>
    <div class="custom-button d-flex align-items-center justify-content-center">
      <span>see Fate</span>
    </div>
  </div>
  <div style="max-width: 50%">
    <img src="/assets/fate.png" class="skin" style="height: 100%">
  </div>