
  <nav class="navbar fixed-top navbar-expand-lg d-flex justify-content-between" style="background-color: #343434; z-index:5">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <a class="navbar-brand" style="color: white; cursor: pointer">Navbar</a>
    <a href="#" style="color: white">Week of August 8th, 2018</a>
    <a class="about-route" hidden routerLink="/about" routerLinkActive="active" style="color: white">about</a>
    <a class="goToAbout" style="color: white; cursor: pointer">about</a>
  </nav>

<div class="landing-container d-flex justify-content-between" style="z-index:2">
  <div class="firstone" style="max-width: 50%">
    <p class="highlight-quote">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua"
    </p>
    
    <a hidden class="please" routerLink="/list" routerLinkActive="active"></a>
    <div class="custom-button d-flex align-items-center justify-content-center">
      <span>see Fate</span>
    </div>
  </div>
  <div style="max-width: 50%">
    <img src="/assets/fate.png" class="skin" style="height: 100%">
  </div>