<div class="about-container" style="overflow-y: scroll !important; overflow-x: hidden; height: calc(100vh - 120px)">
  <h1>Why are we doing this?</h1>
  <div class="d-flex" style="margin: 40px 0; width: 100%">
    <div style="width: 50%; text-align: left !important; margin-right: 40px">
      <p>
        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, 
        consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt 
        ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima 
        veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi
         ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit 
        qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui 
        dolorem eum fugiat quo voluptas nulla pariatur?
        <br />
        <br />
        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, 
        consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt 
        ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima 
        veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi
         ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit 
        qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui 
        dolorem eum fugiat quo voluptas nulla pariatur?
        <br />
        <br />
        As of today, August 8th, 2018, we've been ranking skins for 4 weeks.</p>
    </div>
    <div class="d-flex flex-column" style="width: 50%; padding: 0 40px">
      <div style="width:100%; text-align: left !important; z-index: 5">
          <img src="/assets/reddy.jpg" style="width: 60%">
      </div>
      <div style="width:100%; text-align: right !important; z-index: 3">
          <img src="/assets/leviathan.jpg" style="margin-top: -20px; width: 60%">
      </div>
      <div style="width:100%; text-align: left !important; z-index: 1">
          <img src="/assets/bandolier.jpg" style="margin-top: -20px; width: 60%">
      </div>
    </div>
  </div>
  <h1>But how does it work, bro?</h1>
  <div class="d-flex" style="margin-top: 40px; width: 100%">
    <div style="width: 50%; text-align: left !important; margin-right: 40px">
      <p>
        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, 
        consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt 
        ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima 
        veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi
         ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit 
        qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui 
        dolorem eum fugiat quo voluptas nulla pariatur?
        </p>
    </div>
    <div style="width: 50%; text-align: left !important">
        <p>
            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, 
            consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt 
            ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima 
            veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi
             ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit 
            qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui 
            dolorem eum fugiat quo voluptas nulla pariatur?
            </p>
    </div>
  </div>
</div>